@use '../custom' as *;

.featured-in {
  @include media-breakpoint-down(lg) {
    padding-bottom: 1rem;
  }

  &__company-logo-wrapper {
    height: 4.8rem;
    margin-bottom: 2rem;
  }

  &__company-text {
    display: block;
  }
}
